{% extends 'base.html' %}

{% block content %}
<h1>{{title}}</h1>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
   <div class="form-error">{{ form.non_field_errors }}</div>
{% for f in form %}
<label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
<div class="form-error">{{ f.errors }}</div>
{% endfor %}
    {% if del %}
     <p>Are you sure you want to delete "{{ object }}"?</p>
    {% endif %}
    <p><button type="submit">{{button_name}}</button></p>
</form>
{% endblock %}