<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title|default:"Главная страница women"}}</title>
    <style>
        #navbar {
        margin: 0;
        padding: 0;
        list-style-type: #upper-roman;
        width: 100px;
      }
        #navbar li {
        border-left: 10px solid #666;
        border-bottom: 1px solid #666;
      }
      #navbar a {
        background-color: #F28220;
        color: #100F0F;
        padding: 5px;
        text-decoration: none;
        font-weight: bold;
        border-left: 5px solid #F2FA08;
        display: block;
      }
    </style>
</head>
<body>
{% for w in db %}
    {% if w.is_publ %}
        <h2>{{ w.name }}</h2>
        <p>{{ w.info }}</p>
        <p><a href = "{%url 'post' w.pk %}"> Читать пост</a></p>
    {% endif %}
    {% if not forloop.last%}
        <hr>
    {% endif %}
{% endfor %}
    <ul id="navbar"> Список доступных категорий
        <li><a href="http://127.0.0.1:8000/archive/2023"> Архив по годам</a></li>
        <li><a href="#"> Категории по id</a></li>
        <li><a href="#"> Категории по slug</a></li>
        <li><a href="#"> Женщины</a></li>
    </ul>
</body>
</html>